*{
	

	
}

.main-container{
	display: flex;
	flex-direction: column;
	
	font-size: 20px;
	background-color: #ffecef;
	box-shadow: rgba(228, 88, 33, 0.56) 0px 22px 70px 4px;
	align-items: center;
	text-align: center;
	margin-top: 10%;
	margin-left: 40%;
	height: auto;
	width: 400px;


}
h1{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #d5d5f6;

}

input{
	margin:5px ;
	font-size: 25px;
	background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:7px;
}

button{
  padding: 10px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.temp-container{
	font-size: 25px;
	background-color:#ffecef;
    color: #541212;
    
}
